<iframe width="100%" height="350px" src="{{LinkVideo}}" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>

<div>

    <h2>{{Titulo}}</h2>
    <p>A単o: {{A単o}}</P>
    <p>Categoria: {{Categoria}}</p>
    <p>Rese単a: {{Rese単a}}</p>
    <p>Director: {{Director}}</p>
    <p>Actores: {{Actores}}</p>
</div>